.error-page {
  margin-top: 6%;
  max-width: 100%;
  // height: 60vh;
  line-height: 1.4;
  text-align: center;

  &__container {
    max-width: 100%;
  }

  &__code {
    position: relative;
    height: 240px;
  }

  &__number {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 252px;
    font-weight: 900;
    margin: 0;
    color: #262626;
    text-transform: uppercase;
    letter-spacing: -40px;
    margin-left: -20px;

    >span {
      text-shadow: -8px 0px 0px #fff;
    }
  }

  &__subtitle {
    font-family: 'Cabin', sans-serif;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #262626;
    margin: 0;
    letter-spacing: 3px;
    padding-left: 6px;
  }

  &__message {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    margin-top: 0;
    margin-bottom: 25px;
  }

  &__button {
    background: linear-gradient(270deg, #667eea, #764ba2, #667eea);
    color: #fff;
    border: none;
    font-weight: 500;
    padding: 8px 24px;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 1s ease;

    &:hover {
      background: linear-gradient(-135deg, #667eea, #764ba2) !important;
      transform: scale(1.05);
      color: #fff!important ;
    }
  }

  @media (max-width: 767px) {
    &__code {
      height: 200px;
    }

    &__number {
      font-size: 200px;
    }
  }

  @media (max-width: 480px) {
    &__code {
      height: 192px;
    }

    &__number {
      font-size: 162px;
      height: 150px;
      line-height: 162px;
    }

    &__message {
      font-size: 16px;
    }
  }
}